*{
    background: url("../img/GIF-lalalalalalalalalalalala.gif");
}
.Audiola { 
    box-shadow:  5px 5px 20px rgba (0,0, 0, 0.4);
    border-radius: 90 px;
    text-align: center;
    position: static;
    margin-top: 210px;
}